.gameTable .selected {
    border: 4px solid #D57788;
}

.playerScoreStyle {
    margin-bottom: 5px;
}


/*Cheat code*/
.cheat {
    white-space: pre;
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
}

