body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header,
footer {
    display: flex;
    flex: 1;
    background-color: #f58484;
    padding: 0;
    min-height: 70px;
}

h1 {
    flex: 1;
    text-align: center;
}

main {
    flex: 8;
    display: flex;
    flex-direction: column;
}

#setup {
    text-align: center;
    flex: 1;
}

/*form*/

form {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0;
    border-radius: 14px;

}

#upperForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.settings {
    flex: 1;
    border-radius: 14px;
    background-color: #D8BFD8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

#gameStart {
    margin: 10px 5px;
    padding: 5px;
    width: 100%;
}

/*game*/

#game {
    display: flex;
    flex: 4;
    flex-direction: row;

}

#board {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 5px 5px;
}

.gameTable {
    width: 100%;
    height: 100%;
    table-layout: fixed;

}

.gameTable td {
    border: 4px solid #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.guess {
    text-align: center;
    margin-top: 5px;
}

/*highscore*/

h3 {
    text-align: center;
}

#highscore {
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#highscoreTable {
    border-collapse: collapse;
    width: 90%;
    max-width: 300px;
    text-align: center;
}

#highscoreTable th,
#highscoreTable td {
    border: 1px solid white;
    text-align: center;
    height: 2px;
    width: 5px;
}

/*clear button*/

#clear {
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
}

/*footer*/

.foot {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}