@media screen and (max-width: 900px) {


    body,
    html {
        flex-direction: column;
    }

    header,
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 10px;

    }

    h1 {
        margin: 10px 0;
        font-size: 25px;
    }

    #setup,
    #game {
        flex-direction: column;
    }

    form {
        flex-direction: column;
        height: auto;
    }

    #upperForm {
        flex-direction: column;
    }

    .settings {
        width: 90%;
        margin-bottom: 10px;
    }

    #gameStart {
        width: 90%;
    }


    #game {
        flex-direction: column;
    }

    #board,
    #highscore {
        width: 100%;
        padding-bottom: 20px;
    }

    #highscoreTable {
        width: 90%;
        margin: 0 0 20px 0;
     
    }

    #boardArea {
        height: 200px;

    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }

    .cheat {
        font-size: 10px;
        text-wrap: wrap;
    }

}